p{
    color: black;
    text-align: left;
    
}
h1{
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
}
h2{
    color: blue;
    font-family: Arial;
    text-align: right;
}